$ucla-blue-lightest: #C3D7EE;
$ucla-blue-lighter: #8BB8E8;
$ucla-blue: #2774AE;
$ucla-blue-darker: #005587;
$ucla-blue-darkest: #003B5C;

$ucla-gold: #FFD100;
$ucla-gold-darker: #FFC72C;
$ucla-gold-darkest: #FFB81C;

$ucla-yellow: #FFEA00;

::selection {
	background-color: $ucla-blue-lighter;
}
