%menu-list {
	list-style: none;
	padding: 0;

	a {
		&[aria-current], #{$active-link} {
			color: $ucla-gold;
		}
	}
}

.text-logo {
	height: 1em;
}

.social-link {
	font-size: x-large;

	&::after {
		content: ' ';
	}

	img {
		height: 1em;
	}
}

.fullwidth {
	width: 100%;
}

.stat-fancy {
	font-size: 1em;

	b {
		display: block;
		font-size: 3em;
		font-weight: normal;
	}
}

%divider-bottom:not(:last-child)::after {
	content: '';
	display: block;
	margin: 0 25%;
	border-bottom: $divider;
}

%media-link {
	&::after {
		font-variant: small-caps;
		margin-left: 1ex;
	}

	// TODO: use case-insensitive matching (not supported in IE, Edge)

	&[href$=".pdf"]::after {
		content: 'pdf';
	}

	&[href$=".doc"]::after, &[href$=".docx"]::after {
		content: 'doc';
	}

	&[href$=".xls"]::after, &[href$=".xlsx"]::after {
		content: 'xls';
	}

	&[href$=".ppt"]::after, &[href$=".pptx"]::after {
		content: 'ppt';
	}
}

.people {
	&.columns {
		@media #{$bp-not-main} {
			column-count: 2;
		}
	}

	section {
		display: flex;
		break-inside: avoid-column;
	}

	@at-root .portrait {
		width: 10em;
		margin: 0 2em 2em 0;

		border: thin solid gray;
		padding: 2px;
	}

	main {
		flex-grow: 1;
	}

	address p {
		margin: 0;
	}
}

.ddg-embed {
	width: 100%;
	height: 40px;
	border: 0;
}
