%menu-list {
	list-style: none;
	padding: 0;

	a {
		&.current-page, #{$active-link} {
			color: $ucla-gold;
		}
	}
}

%media-link {
	font-size: smaller;
}

a[href$=".pdf"i]::after {
	@extend %media-link;
	content: ' (PDF)';
}

a[href$=".docx"i]::after {
	@extend %media-link;
	content: ' (DOCX)';
}

.header-anchor {
	visibility: hidden;
	float: right;

	&::after {
		content: '#';
	}

	:hover > & {
		visibility: visible;
	}
}

.text-logo {
	height: 1em;
}

.columns {
	display: flex;

	> * {
		flex-grow: 1;
	}
}

.people {
	@media #{$bp-not-main} {
		column-count: 2;
	}

	section {
		display: flex;
		break-inside: avoid-column;
	}

	img {
		width: 10em;
		margin: 0 2em 2em 0;

		border: thin solid gray;
		padding: 2px;
	}

	main {
		flex-grow: 1;
	}
}
