%menu-list {
	list-style: none;
	padding: 0;

	a {
		&.current-page, #{$active-link} {
			color: $ucla-gold;
		}
	}
}

a::after {
	font-variant: small-caps;
	margin-left: 1ex;
}

a[href$=".pdf"i]::after {
	content: 'pdf';
}

a[href$=".doc"i], a[href$=".docx"i] {
	&::after {
		content: 'doc';
	}
}

a[href$=".xls"i], a[href$=".xlsx"i] {
	&::after {
		content: 'xls';
	}
}

.header-anchor {
	visibility: hidden;
	float: right;

	&::after {
		content: '#';
	}

	:hover > & {
		visibility: visible;
	}
}

.text-logo {
	height: 1em;
}

.columns {
	display: flex;

	> * {
		flex-grow: 1;
	}
}

.people {
	@media #{$bp-not-main} {
		column-count: 2;
	}

	section {
		display: flex;
		break-inside: avoid-column;
	}

	img {
		width: 10em;
		margin: 0 2em 2em 0;

		border: thin solid gray;
		padding: 2px;
	}

	main {
		flex-grow: 1;
	}
}
