@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.intro > h1 {
		width: 100%;
	}

	.subnav .columns {
		max-width: $main-content-width / 2;
		width: 100%;
	}

	body > main {
		display: table;
	}
}
