$page-margin-width: 2rem;

.fold {
	background: top/cover fixed, #777;
	background-blend-mode: multiply;
	color: white;
	padding: $page-margin-width;
}

@import 'header';
@import 'subnav';

main {
	max-width: 8.5in;
	margin: 0 auto;
}

footer {
	background-color: $ucla-blue-darkest;
	color: white;
	padding: $page-margin-width;
}
