.topnav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: $page-margin-width;
	background-image: linear-gradient(rgba(black, 0.5), transparent);

	z-index: 1;
	pointer-events: none;

	a, select {
		pointer-events: auto;
	}
}

header {
	padding-top: $fixed-header-height;
}
