.fold {
	background: top/cover fixed, #666;
	background-blend-mode: multiply;
	color: white;
	padding: $page-margin-width;

	.section-home & {
		background-image: url(/img/header.jpg);
	}

	.section-about & {
		background-image: url(/img/Uabout960x450.jpg);
	}

	.section-funding & {
		background-image: url(/img/Ufunding960x450.jpg);
	}

	.section-documents & {
		background-image: url(/img/Udocuments960x450.jpg);
	}
}
