header {
	display: flex;
	align-items: center;

	h1 {
		margin: 0;

		a {
			#{$active-link} {
				color: $ucla-gold;
			}
		}
	}

	nav {
		flex-grow: 1;
		text-align: right;

		a {
			padding: 0.5em 1.0em;
			margin: 0 0.5em;
			color: $ucla-blue-darkest;
			background-color: $ucla-gold;

			#{$active-link} {
				background-color: $ucla-gold-darkest;
			}

			@at-root .current-page {
				text-decoration: underline;
				pointer-events: none;
			}
		}
	}

	ul {
		margin: 0;

		@media #{$bp-fold} {
			display: none;
		}
	}

	select {
		@media #{$bp-not-fold} {
			display: none;
		}
	}

	li {
		display: inline-block;
	}
}

@import 'fixed_header';
