.topnav {
	display: flex;
	align-items: center;

	h1 {
		flex-grow: 1;
		margin: 0;

		a {
			#{$ready} {
				color: $ucla-gold;
			}
		}
	}

	ul {
		margin: 0;

		a {
			padding: 0.5em 1.0em;
			margin: 0 0.5em;
			color: $ucla-blue-darkest;
			background-color: $ucla-gold;

			#{$ready} {
				background-color: $ucla-gold-darkest;
			}

			&[aria-current] {
				text-decoration: underline;
			}
		}

		@media #{$bp-fold} {
			// Visually hidden, but present for screen readers
			position: absolute;
			top: -$fixed-header-height;
		}
	}

	li {
		display: inline-block;
	}

	select {
		@media #{$bp-not-fold} {
			display: none;
		}
	}
}

@import 'fixed_header';
