%main-sized {
	max-width: $main-content-width;
	margin: 0 auto;
}

%main-aligned {
	@extend %main-sized;
	padding-right: $sidebar-width;
}

body > main {
	@extend %main-aligned;
	padding-left: $page-margin-width;

	@media #{$bp-main} {
		padding-right: $page-margin-width;
	}

	a:not(.header-anchor) {
		color: $ucla-blue;
		text-decoration: underline;

		margin: -0.33em;
		padding: 0.33em;

		#{$active-link} {
			background-color: $ucla-yellow;
			text-decoration: none;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		color: $ucla-blue-darker;
		border-bottom: thin solid $ucla-blue-darker;
	}
}
