%main-sized {
	max-width: $main-content-width;
	margin: 0 auto;
}

%main-aligned {
	@extend %main-sized;
	padding-right: $sidebar-width;
}

body > main {
	@extend %main-aligned;
	padding-left: $page-margin-width;

	@media #{$bp-main} {
		padding-right: $page-margin-width;
	}

	a:not(.header-anchor):not(.invisible) {
		@extend %media-link;
		@extend %expand-bg;

		color: $ucla-blue;
		text-decoration: underline;

		#{$ready} {
			background-color: $ucla-yellow;
			text-decoration: none;
		}
	}

	@at-root .header-anchor {
		visibility: hidden;
		float: right;

		:target > &, :hover > & {
			visibility: visible;
		}
	}

	> h1, > h2, > h3, > h4, > h5, > h6 {
		color: $ucla-blue-darkest;
		border-left: medium solid $ucla-blue-darkest;
		padding: 1rem;
	}
}
