.subnav {
	display: flex;

	@at-root .intro {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		h1 {
			font-size: 4em;
			font-weight: lighter;
			@extend %half-width;
		}
	}

	aside {
		width: $sidebar-width;
		text-align: center;

		section:not(:last-child)::after {
			content: '';
			display: block;
			@extend %half-width;
			@extend hr;
		}

		@at-root .stat-fancy {
			font-size: 1em;

			b {
				display: block;
				font-size: 3em;
				font-weight: normal;
			}
		}

		ul {
			@extend %menu-list;
		}

		nav a {
			display: block;
			padding: 1em;
		}
	}
}
