.subnav {
	display: flex;
	text-align: center;

	@media #{$bp-fold} {
		flex-direction: column;
	}

	@at-root .intro {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			font-size: 4em;
			font-weight: lighter;
			@extend %main-sized;

			@media #{$bp-fold} {
				font-size: 2em;
			}
		}
	}

	aside {
		width: $sidebar-width;
		margin: 0 auto;

		section:not(:last-child)::after {
			content: '';
			display: block;
			margin: 0 25%;
			@extend hr;
		}

		@at-root .stat-fancy {
			font-size: 1em;

			b {
				display: block;
				font-size: 3em;
				font-weight: normal;
			}
		}

		ul {
			@extend %menu-list;
		}

		nav a {
			display: block;
			padding: 1em;
		}
	}
}
