.subnav {
	display: flex;
	text-align: center;

	@media #{$bp-fold} {
		flex-direction: column;
	}

	@at-root .intro {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			font-size: 4em;
			font-weight: lighter;
			@extend %main-sized;

			@media #{$bp-fold} {
				font-size: 2em;
			}
		}
	}

	aside {
		width: $sidebar-width;
		margin: 0 auto;

		section:not(:last-child)::after {
			content: '';
			display: block;
			margin: 0 25%;
			@extend hr;
		}

		ul {
			@extend %menu-list;
		}
	}

	nav {
		a {
			display: block;
			padding: 1em;
		}

		:not(.current-page) + ul {
			display: none;
		}

		ul ul {
			background-color: rgba(255, 255, 255, 0.1);

			a {
				padding: 0.5em;
			}
		}
	}
}
