{% from 'doclist.html' import doclist %}

<div class="columns">
	<section>
		<h2><a href="/funding/sga/budget">Budget</a></h2>
		<ol>
			<li><a href="/docs/budget.pdf">{{ docs._budgetDate | humanDate }}</a>
		</ol>
	</section>
	<section>
		<h2><a href="/documents/agendas" title="Archives">Agenda</a></h2>
		{#<!--{{ doclist(docs.agenda, docs._schoolYear, 2) }}-->#}
		<a href="/docs/agenda.2022-05-10.pdf">5/10/2022</a>
	</section>
	<section>
		<h2><a href="/documents/minutes" title="Archives">Minutes</a></h2>
		{#<!--{{ doclist(docs.minutes, docs._schoolYear, 1) }}-->#}
		<a href="/docs/minutes.2022-04-26.pdf">4/26/2022</a>
	</section>
</div>

