{% from 'doclist.html' import doclist %}

<div class="columns">
	<section>
		<h2><a href="/funding/sga/budget">Budget</a></h2>
		<ol>
			<li><a href="/docs/budget.pdf">{{ docs._budgetDate | humanDate }}</a>
		</ol>
	</section>{#<!--
	<section>
		<h2><a href="/documents/agendas" title="Archives">Agenda</a></h2>
		{{ doclist(docs.agenda, docs._schoolYear, 2) }}
	</section>-->#}
	<section>
		<h2><a href="/documents/minutes" title="Archives">Minutes</a></h2>
		{{ doclist(docs.minutes, docs._schoolYear, 2) }}
	</section>
</div>

