{% from 'doclist.html' import doclist %}

<div class="columns">
	<section>
		<h2>Budget</h2>
		<ol>
			<li><a href="/docs/budget.pdf">{{ current.budgetDate | humandate }}</a>
		</ol>
	</section>
	<section>
		<h2><a href="{{ '/documents/agendas' | siteurl }}" title="Archives">Agenda</a></h2>
		{{ doclist(docs.agenda, current.schoolYear, 2) }}
	</section>
	<section>
		<h2><a href="{{ '/documents/minutes' | siteurl }}" title="Archives">Minutes</a></h2>
		{{ doclist(docs.minutes, current.schoolYear, 2) }}
	</section>
</div>
