{% macro navlist(item, curUrl, depth) %}
<ul>
	{% for seg in item.navItems %}
	{% set child = item.children[seg] %}
	<li><a href="{{ child | navLink }}" {% if curUrl | descendsFrom(child) %}aria-current="page"{% endif %}>{{ child.data.title }}</a>
	{% if depth > 1 %}
	{{ navlist(child, curUrl, depth - 1) }}
	{% endif %}
	{% endfor %}
</ul>
{% endmacro %}

{% macro navsel(item, curUrl) %}
<select title="Navigation" onchange="location.href = this.value" aria-hidden="true">
	<option value="{{ item | navLink }}" {% if curUrl | descendsFrom(item) %}selected{% endif %}>Home
	{% for seg in item.navItems %}
	{% set child = item.children[seg] %}
	<option value="{{ child | navLink }}" {% if curUrl | descendsFrom(child) %}selected{% endif %}>{{ child.data.title }}
	{% endfor %}
</select>
{% endmacro %}
