{% macro navlist(path, curPath, all, depth) %}
<ul>
	{% for link in (all | children(path) | navsort) %}
	<li><a href="{{ link.url | navlink }}" {% if curPath | descendsFrom(link.url) %}aria-current="page"{% endif %}>{{ link.data.title }}</a>
	{% if depth > 1 %}
	{{ navlist(link.url, curPath, all, depth - 1) }}
	{% endif %}
	{% endfor %}
</ul>
{% endmacro %}

{# TODO: not need root parameter #}
{% macro navsel(path, curPath, all, root) %}
<select title="Navigation" onchange="location.href = this.value" aria-hidden="true">
	<option value="{{ path | navlink }}" {% if curPath == url %}selected{% endif %}>{{ root }}
	{% for link in (all | children(path) | navsort) %}
	<option value="{{ link.url | navlink }}" {% if curPath | descendsFrom(link.url) %}selected{% endif %}>{{ link.data.title }}
	{% endfor %}
</select>
{% endmacro %}
