---
title: Offices
weight: -2
---

<h1>{{ current.schoolYear }} Officers</h1>

<div class="people columns">
	{% for officer in officers %}
	<section>
		{% if officer.picpath %}
		<img class="portrait" src="/docs/{{ officer.picpath }}" alt="{{ officer.name }}">
		{% endif %}

		<main>
			<h2>{{ officer.name }}</h2>
			<h3>{{ officer.position }}</h3>

			<address>
			<p>
				{% if officer.webpage %}<a class="social-link invisible" href="{{ officer.webpage }}"><img src="/img/social-www.svg" alt="Website"></a>{% endif %}
				{% if officer.facebook %}<a class="social-link invisible" href="https://www.facebook.com/{{ officer.facebook }}"><img src="/img/social-fb.svg" alt="Facebook"></a>{% endif %}
				{% if officer.instagram %}<a class="social-link invisible" href="https://www.instagram.com/{{ officer.instagram }}"><img src="/img/social-ig.svg" alt="Instagram"></a>{% endif %}
				{% if officer.twitter %}<a class="social-link invisible" href="https://www.twitter.com/{{ officer.twitter }}"><img src="/img/social-tw.svg" alt="Twitter"></a>{% endif %}
			<p><a href="mailto:{{ officer.email }}">{{ officer.email }}</a>
			<p>{{ officer.addr }}
			</address>
		</main>
	</section>
	{% endfor %}
</div>
