<section>
	<h2 class="stat-fancy"><b>15</b> student officers</h2>
	<p>elected by the student body every spring
</section>
<section>
	<h2 class="stat-fancy"><b>40,000</b> students</h2>
	<p>attend programs organized by USAC offices
</section>
<section>
	<h2 class="stat-fancy"><b>70</b> undergraduates</h2>
	<p>appointed by the council to administrative offices
</section>
<section>
	<h2 class="stat-fancy"><b>25</b> undergraduates</h2>
	<p>appointed by the council to Academic Senate Committees
</section>
