---
title: Programming Funds Search
---

{%- from 'social.html' import socialblob -%}

<h1>Programming Funds Search</h1>

<p>Use this page to narrow down your search for USAC funds <em>(make sure to review all funding guidelines to determine if you are eligible for other funds as well)</em>.
<p>Developed in partnership with USAConnect from the <a href="https://ivp.ucla.edu/">Office of the Internal Vice President</a>.
<p>For a comprehensive list of funding sources, outside of USAC, available to student organizations to help support their programs, visit the <a href="https://sole.ucla.edu/funding">SOLE funding resources page</a>.

<div
	class="{% for cat, opts in funds.filters %}{% for opt in opts %} hide-{{ cat }}-{{ loop.index }}{% endfor %}{% endfor %}"
	onchange="this.classList[event.target.checked ? 'remove' : 'add'](`hide-${event.target.name}-${event.target.value}`)">

	<div class="fund-filters">
		{% for cat, opts in funds.filters %}
		<div>
			<h2>{{ cat | upper }}</h2>
			<ul>
				{% for opt in opts %}
				<li><label><input type="checkbox" name="{{ cat }}" value="{{ loop.index }}"> {{ opt }}</label>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>

	<div class="cards-list">
		<p class="no-cards-msg">No funds matching those criteria.
		{% for fund in funds.funds | reverse %}
		<div id="fund-{{ fund.id }}" class="card {% for name, vals in fund.tags %}{% if funds.filters[name] %}{% for val in vals %} {{ name }}-{{ val }}{% endfor %}{% endif %}{% endfor %}">
			<h2 class="card-title">
				{% if fund.fund_org %}
				{{ fund.fund_org }} &mdash;
				{% endif %}
				{{ fund.fund_name }}
			</h2>
			<ul class="fund-tags">
				{% for name, vals in fund.tags %}
					{% if funds.filters[name] %}
						{% for val in vals %}
						<li class="fund-tag-{{ name }}" title="{{ name | title }}">{{ funds.filters[name][val - 1] }}
						{% endfor %}
					{% else %}
						<li class="fund-tag-{{ name }}" title="{{ name | title }}">{{ vals }}
					{% endif %}
				{% endfor %}
			</ul>
			<div class="fund-desc">
				<div>
					<p><strong>Deadline:</strong> {{ fund.deadline }}
					<p><strong>Eligibility:</strong> {{ fund.eligibility }}
					<p><strong>Contact:</strong>
						{%- set comma = joiner(', ') -%}
						{%- for email in fund.contact -%}
						{{ comma() }}
						<a href="mailto:{{ email }}">{{ email }}</a>
						{%- endfor -%}
						{% if fund.social %}
						{{ comma() }}
						{{ socialblob(fund.social, fund.fund_name) }}
						{% endif %}
				</div>
				<div>
					<p><strong>About:</strong> {{ fund.about }}
					<p><strong>Improve your chances:</strong> {{ fund.improve_your_chances }}
				</div>
			</div>
			<p class="card-actions">
				{% if fund.alert %}
				<em class="card-actions-alert">{{ fund.alert }}</em>
				{% endif %}
				{% for type, link in fund.links %}
				<a class="invisible button {% if type === 'Application' %}primary{% endif %}" href="{{ link }}" aria-label="{{ type }} for {{ fund.fund_name }}">{{ type }}</a>
				{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>

<style>
{%- set comma = joiner() -%}
{%- for cat, opts in funds.filters -%}
	{%- for opt in opts -%}
		{%- set outer = loop -%}
		{%- for opt in opts -%}
			{%- if loop.index !== outer.index -%}
				{{ comma() }} .hide-{{ cat }}-{{ outer.index }}:not(.hide-{{ cat }}-{{ loop.index }}) .{{ cat }}-{{ outer.index }}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
{%- endfor -%}
{
	display: none;
}
</style>
