{% from 'navlist.html' import navlist, navsel %}

{% include 'history.html' %}

<!DOCTYPE html>
<title>USAC &mdash; {{ title }}</title>
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#2774AE"> {# UCLA blue #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&amp;display=swap">
<link rel="stylesheet" href="{{ '/img/main.css' | siteurl }}">

<body class="section-{{ collections.all | mainSection(page.url) | sectionName }}">
	<div class="fold">
		<header>
			<h1><a href="{{ '/' | siteurl }}"><img src="{{ '/img/logo_UCLA_blue_boxed.svg' | siteurl }}" alt="UCLA" class="text-logo"> USAC</a></h1>

			<nav>
				{{ navlist('/', page.url, collections.all, 1) }}
				{{ navsel('/', page.url, collections.all, 'Home') }}
			</nav>
		</header>

		<div class="subnav">
			<div class="intro">
				<h1>{{ (collections.all | mainSection(page.url)).data.title }}</h1>

				{% include 'subheading/' + (collections.all | mainSection(page.url) | sectionName) + '.html' ignore missing %}
			</div>

			<aside>
				{% set subnav %}{% include 'subnav/' + (collections.all | mainSection(page.url) | sectionName) + '.html' ignore missing %}{% endset %}
				{% if subnav %}
				{{ subnav | safe }}
				{% else %}
				<nav>
					{{ navlist((collections.all | mainSection(page.url)).url, page.url, collections.all, 2) }}
				</nav>
				{% endif %}
			</aside>
		</div>
	</div>

	<main>
		{{ content | safe }}
	</main>

	<footer>
		<div class="columns">
			<div class="footer-logos">
				<img src="{{ '/img/ASUCLA_Logo_StyleGuide_transparent.svg' | siteurl }}" alt="ASUCLA">
				<img src="{{ '/img/USAC-logo-white.svg' | siteurl }}" alt="USAC">
			</div>
			<div class="footer-links">
				<ul>
					<li><a href="https://www.ucla.edu/">UCLA.edu</a>
					<li><a href="https://asucla.ucla.edu/">ASUCLA</a>
					<li><a href="{{ '/about/offices' | siteurl }}">Ask Us</a>
					<li><a href="https://giving.ucla.edu/Standard/NetDonate.aspx?SiteNum=904">Donate</a>
					<li><a href="#">Important Dates</a>
					<li><a href="#">Terms of Use</a>
					<li><a href="mailto:usacwebmaster@asucla.ucla.edu">Contact Webmaster</a>
				</ul>
				<address>
					308 Westwood Plaza<br>
					Ackerman Union 262G<br>
					Los Angeles, CA 90095
				</address>
			</div>
		</div>

		<img src="{{ '/img/kerckhoff-outline.svg' | siteurl }}" alt="Kerckhoff Hall" class="peek-outline">
	</footer>
</body>
