<!DOCTYPE html>
<head>
	<title>USAC | {{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/style/main.css">
</head>

<body>
	<div class="fold" style="background-image: url(/img/header.jpg);">
		<header>
			<h1><a href="#"><img src="/img/logo_UCLA_blue_boxed.svg" alt="UCLA" width="360.00" height="168.84" class="text-logo"> USAC</a></h1>

			<nav>
				<ul>
					<li><a href="#">About</a>
					<li><a href="#">Funding</a>
					<li><a href="#">Documents</a>
					<li><a href="#">Ask Us</a>
					<li><a href="#">Donate</a>
				</ul>

				<select onchange="location.href = this.value">
					<option value="#">Home
					<option value="#">About
					<option value="#">Funding
					<option value="#">Documents
					<option value="#">Ask Us
					<option value="#">Donate
				</select>
			</nav>
		</header>

		<div class="subnav">
			<section class="intro">
				<h1>Undergraduate Students Association</h1>
			</section>

			<!-- <aside>
				<section>
					<h2 class="stat-fancy"><b>14</b> student officers</h2>
					<p>elected by the student body every spring
				</section>
				<section>
					<h2 class="stat-fancy"><b>40,000</b> students, faculty, and staff</h2>
					<p>attend programs organized by the Campus Events Commission
				</section>
				<section>
					<h2 class="stat-fancy"><b>70</b> undergraduates</h2>
					<p>appointed by the USA president to administrative offices
				</section>
				<section>
					<h2 class="stat-fancy"><b>25</b> undergraduates</h2>
					<p>appointed by the USA president to Academic Senate Committees
				</section>
			</aside> -->

			<!-- <aside>
				<section>
					<h2>Budget</h2>
					<ul>
						<li><a href="#"><time datetime="2019-07-08">July 08, 2019</time></a>
					</ul>
				</section>
				<section>
					<h2>Agenda</h2>
					<ul>
						<li><a href="#"><time datetime="2019-07-01">July 01, 2019</time></a>
						<li><a href="#"><time datetime="2019-06-17">June 17, 2019</time></a>
					</ul>
				</section>
				<section>
					<h2>Minutes</h2>
					<ul>
						<li><a href="#"><time datetime="2019-05-28">May 28, 2019</time></a>
						<li><a href="#"><time datetime="2019-05-21">May 21, 2019</time></a>
					</ul>
				</section>
			</aside> -->

			<!-- <aside>
				<nav>
					<ul>
						<li><a href="#">Student Government Accounting</a>
						<li><a href="#">USAC Programming Funds</a>
						<li><a href="#">USAC Operational Funds</a>
						<li><a href="#">Other Funding Sources</a>
						<li><a href="#">Miscellaneous</a>
						<li><a href="#">Funding Calendar</a>
					</ul>
				</nav>
			</aside> -->
		</div>
	</div>

	<main>
		{{ content | safe }}
	</main>

	<footer>
		<div class="columns">
			<section class="footer-logos">
				<img src="/img/ASUCLA_Logo_StyleGuide_transparent.svg" width="337.5" height="121.5" alt="ASUCLA Logo">
				<img src="/img/USACSeal.png" style="filter: invert(1)" width="400" height="400" alt="USAC Seal">
			</section>
			<section class="footer-links">
				<ul>
					<li><a href="https://www.ucla.edu/">UCLA.edu</a>
					<li><a href="https://asucla.ucla.edu/">ASUCLA</a>
					<li><a href="#">Offices</a>
					<li><a href="#">Important Dates</a>
					<li><a href="#">Terms of Use</a>
					<li><a href="mailto:usacwebmaster@asucla.ucla.edu">Contact Webmaster</a>
				</ul>
				<hr> <!-- TODO: use border instead -->
				<address>
					308 Westwood Plaza<br>
					Ackerman Union 262G<br>
					Los Angeles, CA 90095
				</address>
			</section>
		</div>

		<img src="/img/kerckhoff-outline.svg" width="217.91359" height="118.75368" alt="Kerckhoff Hall" class="peek-outline">
	</footer>
</body>
