{%- from 'navlist.html' import navlist, navsel -%}

<!DOCTYPE html>

<!--
{% include 'history.txt' %}
-->
<!--
<html lang="en-US">

<title>USAC &mdash; {{ title }}</title>
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#2774AE"> {# UCLA blue #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i">
<link rel="stylesheet" href="/img/main.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48504411-1"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-48504411-1")</script>

<body class="section-{{ page.url | mainSectionId }}">
	<a class="skip-link" href="#main">Skip to main content</a>

	<header>
		<div class="topnav">
			<h1><a href="/"><img src="/img/logo-UCLA-bluebox-USAC-white.svg" alt="UCLA USAC" class="text-logo"></a></h1>

			<nav>
				{{ navlist(collections.nav, page.url, 1) }}
				{{ navsel(collections.nav, page.url) }}
			</nav>
		</div>

		<div class="subnav">
			<div class="intro">
				<h1>{{ (collections.nav | mainSection(page.url)).data.title }}</h1>

				{% for file in subheading %}
				{% include 'subheading/' + file + '.html' %}
				{% endfor %}
			</div>

			<div class="intro-detail">
				{% for file in subnav %}
				{% include 'subnav/' + file + '.html' %}
				{% else %}
				<nav aria-label="Navigation for {{ (collections.nav | mainSection(page.url)).data.title }} section">
					{{ navlist(collections.nav | mainSection(page.url), page.url, 2) }}
				</nav>
				{% endfor %}
			</div>
		</div>
	</header>

	<main id="main">
		{{ content | safe }}
	</main>

	<footer>
		<div class="columns">
			<div class="footer-logos">
				<img src="/img/ASUCLA_Logo_StyleGuide_transparent.svg" alt="ASUCLA">
				<img src="/img/USAC-logo-white.svg" alt="USAC">
			</div>
			<div class="footer-links">
				<ul>
					<li><a href="https://asucla.ucla.edu/">ASUCLA</a>
					<li><a href="https://www.ucla.edu/">UCLA.edu</a>
					<li><a href="https://www.bso.ucla.edu/">Bruins Safe Online</a>
					<li><a href="https://sole.ucla.edu/">SOLE</a>
					<li><a href="/about/offices">Ask Us</a>
					<li><a href="https://giving.ucla.edu/Standard/NetDonate.aspx?SiteNum=904">Donate</a>
					<li><a href="/funding/calendar">Important Dates</a>
					<li><a href="/terms">Terms of Use</a>
					<li><a href="mailto:usacwebmaster@asucla.ucla.edu" title="Send me feedback or tell me about issues on this website">Contact Webmaster</a>
				</ul>
				<address>
					308 Westwood Plaza<br>
					Ackerman Union 262G<br>
					Los Angeles, CA 90095
				</address>
			</div>
		</div>

		<img src="/img/kerckhoff-outline.svg" alt="Kerckhoff Hall" class="peek-outline">
	</footer>
</body>
</html>-->

